a.link-active {
	@apply text-black bg-gray-400 bg-opacity-50;
}

.bg-fancy {
	background: linear-gradient(
		to bottom,
		rgb(254, 202, 202),
		rgb(252, 165, 165),
		rgb(254, 240, 138)
	);
}

.icon-purple {
	color: rgba(170, 0, 255, 0.8);
}

.placeholder-medium::placeholder{
	@apply font-medium;
}



.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.resizer-r {
	cursor: col-resize;
	background-color: transparent;
	height: 95%;
	z-index: 50;
	right: -6px;
	bottom: 0;
	width: 7px;
	position: absolute;
}

.resizer-b {
	cursor: col-resize;
	background-color: transparent;
	height: 7px;
	z-index: 50;
	right: 0;
	bottom: -6px;
	width: 100%;
	position: absolute;
}

.react-draggable{
	position: absolute;
	z-index: 100;
}

.ant-modal-content{
	border-radius: 0.25rem !important	;
}

.ant-popover-inner {
	padding: 0 !important;
	
}

.list-item-separated {
	@apply w-full pt-2 pb-4 border-b border-neutral-300 border-opacity-40;
	
}

/* ChatMessage */

.message-container:hover > .message-actions {
	visibility: visible;
}

.switch {
	@apply mt-6 mb-3 ;
}